$labelColor: #435960;
$labelFontWeight: bold;
$inputFontSize: 1em;
$inputPadding: .5rem;
$buttonMarginTop: 20px;
$buttonMarginRight: .5rem;
$buttonBackgroundColor: #eee;
$buttonPadding: 1rem;
$buttonBorderRadius: 4px;
$buttonFontSize: 1rem;
$buttonHoverBackgroundColor: #cfd8dc;
$buttonDisabledBackgroundColor: #eee;
$buttonDisabledColor: #ccc;
$buttonDisabledCursor: auto;

label {
  color: $labelColor;
  font-weight: $labelFontWeight;
}

input {
  font-size: $inputFontSize;
  padding: $inputPadding;
}

button {
  margin-top: $buttonMarginTop;
  margin-right: $buttonMarginRight;
  background-color: $buttonBackgroundColor;
  padding: $buttonPadding;
  border-radius: $buttonBorderRadius;
  font-size: $buttonFontSize;

  &:hover {
    background-color: $buttonHoverBackgroundColor;
  }

  &:disabled {
    background-color: $buttonDisabledBackgroundColor;
    color: $buttonDisabledColor;
    cursor: $buttonDisabledCursor;
  }
}
