$messageColor: #A80000;
$clearColor: #333;
$clearBackgroundColor: #eee;
$clearHoverColor: white;
$clearHoverColorBackground: #42545C;

h2 {
  color: $messageColor;
  font-weight: lighter;

}

.clear {
  color: $clearColor;
  background-color: $clearBackgroundColor;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}


  .clear:hover {
    color: $clearHoverColor;
    background-color: $clearHoverColorBackground;
  }

