$primaryColor: #3f525c;
$secondaryColor: #fff;
$hoverColor: black;
$maxWidth: 1000px;
$fontSize: 1.2rem;
$minWidth: 70px;
$margin: .5rem;

h2 {
  text-align: center;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: $maxWidth;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: $primaryColor;
  border-radius: 2px;
  padding: 1rem;
  font-size: $fontSize;
  text-decoration: none;
  display: inline-block;
  color: $secondaryColor;
  text-align: center;
  width: 100%;
  min-width: $minWidth;
  margin: $margin auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  a:hover {
    background-color: $hoverColor;
  }
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}
