$primaryColor: #333;
$secondaryColor: #EEE;
$accentColor: #405061;
$hoverColor: #2c3a41;
$activeColor: #525252;
$backgroundColor: #e6e6e6;
$buttonColor: #42545C;
$deleteButtonColor: #525252;
$lightButtonColor: white;

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;

   &:hover {
    left: .1em;
  }
}

.heroes a {
  color: $primaryColor;
  text-decoration: none;
  background-color: $secondaryColor;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;

   .heroes a:hover {
    color: $hoverColor;
    background-color: $backgroundColor;
  }

  .heroes:active {
    background-color: $activeColor;
    color: #fafafa;
  }
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: $lightButtonColor;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: $accentColor;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;

  &:hover {
    color: $lightButtonColor;
    background-color: $buttonColor;
  }
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: $lightButtonColor;
  color: $deleteButtonColor;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;

  &:hover {
    background-color: $deleteButtonColor;
    color: $lightButtonColor;
  }
}
